body{
    margin: 0;
    padding: 0;
    background-color:#f0f2f5;
}


.div-1{
    float: left;
    margin-top: 80px;
    margin-left: 120px;
}
.logo{
    height: 120px;
    width: 350px;
}
.dicribe{
    height: 50px;
    width: 400px;
    margin-top: 1px;
    margin-left: 40px;
}



.contaner{
    height: 350px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    margin-left: 700px;
}
.text{
    height: 50px;
    width: 90%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
}
.login{
    height: 50px;
    width: 90%;
    border-width: 0;
    border-radius: 5px;
    background-color: #1877f2;
    font-size: 25px;
    color: white;
    font-weight: 700;
    font-family: arial;
    margin-bottom:10px;
}
.forget{
    height: 30px;
    width: 70%;
    font-size: 14px;
    font-family: arial;
    color: #1877f2;
    text-decoration: none;
}
.creat{
    height: 50px;
    width: 55%;
    border-width: 0;
    border-radius: 5px;
    background-color: #42b72a;
    font-size: 20px;
    color: white;
    font-weight: 700;
    font-family: arial;
    margin-top: 30px;
}


.pera{
    margin-top: 20px;
    margin-left: 750px;
}